
@{
    ViewBag.Title = "About";
    Layout = "~/Views/HomePage/HomeMaster.cshtml";
}

<body style="background-color: #f4f5e2">

    @*<div>
            <h1 class="text-success">
                <marquee width="60%" direction="left">
                    Welcome Admin
                </marquee>
            </h1>
        </div>*@

    <table width="100%">



        <tr>
            <td>
                <img src="https://www.rajagirihospital.com/images/inner-page-banner.jpg" style="margin-top:0px;margin-right:0px;width:150%" />
            </td>
        </tr>
        <tr>
            <td width="150%">

                <p>In the short span of its existence, Rajagiri Hospital has created its niche on the map of quality healthcare delivery in South India by touching nearly 2 million lives. Having earned the trust and loyalty of patients through the compassion of its caregivers and high-precision medical technology, the institution has emerged as the leading quaternary care facility in the region. </p>
                <p>Rajagiri Hospital, established in 2014 was a thoughtful initiative from the renowned Rajagiri (CMI) group of institutions to offer quality and affordable medical care to the common man. The legacy of Rajagiri in pioneering a distinctive culture in the educational sector has helped them carve an exemplary medical institution in Kerala. The 500 bedded hospital is well laid out in a 40 acre green landscape in the serene setting of Chunangamvely, Aluva and is the closest facility to the Cochin International Airport. </p>
                <p>The consistent pursuit of achieving uncompromised excellence in healthcare has won Rajagiri Hospital many accolades and appreciation on national and international platforms. The Hospital is accredited by the Joint Commission International (JCI) with the gold seal for complying with the highest international standards on patient safety and quality of care. The hospital is also accredited by the National Accreditation Board for Hospitals and Healthcare Providers (NABH), National Accreditation Board for Testing and Calibration Laboratories (NABL) and NABH certification for Nursing Excellence. The operating theatres are Green OT certified by Bureau Veritas and has received ISO 22000:2005 certification for its Food & Beverages services.</p>
                <p>The synergy of western medicine and Ayurveda, offers the patients a holistic healing experience. Integrating telehealth technology to its service spectrum, Rajagiri Hospital has paved the way to reach out to patients beyond borders. Today, the Hospital has grown to be the first choice among the domestic and international patients for their healthcare needs.</p>
            </td>

        <tr>
            <td>
                <h2 class="text-success"> Courses Offered</h2>
                <ul>
                    Civil Engineering
                </ul>
                <ul>  Computer Science & Engineering</ul>
                <ul> Electronics & Communication Engineering</ul>
                <ul> Electrical & Electronics Engineering</ul>
                <ul>
                    Mechanical Engineering
                </ul>

            </td>
            <td>


                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwMx0DHtaKF9fuvM5Jxxb7BkaJEPeL4mzDkA&usqp=CAU" />
            </td>
        </tr>
    </table>



</body>



